@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-grid-ambiences {
  margin-bottom: 40px;
  min-height: 550px;

  .hl-columns {
    display: flex;
    flex-wrap: wrap;
  }

  .hl-column {
    flex: 1 0 25%;
    box-sizing: border-box;
    margin: 5px;
    flex-direction: row;
    max-width: calc(33% - 10px);
  }

  .hl-ambience-image {
    height: 200px;
    background-size: cover;
    background-color: $background-gray;
    background-position: center;
    transition: all .4s ease-in-out;

    &:hover {
      // transform: scale(1.02);
    }
  }
}

@media screen and (min-width: $desktop) {
  .hl-grid-ambiences {
    .column {
      flex: initial;
    // box-sizing: border-box;
    }
  }
}

@media screen and (min-width: $fullhd) {
  .hl-grid-ambiences {
    .hl-ambience-image {
      height: 270px;
    }
  }
}
