@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-grid-ambiences {
  .hl-ambience-image {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: $desktop) {
  .hl-grid-ambiences {
    .column {
      flex: initial;
    // box-sizing: border-box;
    }
  }
}

@media screen and (min-width: $fullhd) {
  .hl-grid-ambiences {
    .hl-ambience-image {
      height: 270px;
    }
  }
}
