@import 'bulma/sass/utilities/_all.sass';
@import '../common/variables.scss';

@import 'bulma/sass/components/navbar.sass';
// @import 'bulma/bulma.sass';


.hl-header {
  // padding: 40px 30px 20px;

  .navbar-menu a.navbar-item {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;

    &:hover {
      background-color: transparent;
      color: $text;
      opacity: .8;
    }
  }

  .hl-logo {
    max-height: 80px;
    padding: 20px 0;
  }

  .logo-text-wrapper {
    margin-top: -13px;
  }

  .logo-text-name,
  .logo-text-line {
    color: $logo-text;
    display: block;
    font-weight: 100;
    letter-spacing: -.7px;
    line-height: 1em;
  }

  .logo-text-name {
    color: $main;
    font-size: 1.2em;
  }
}

@media screen and (max-width: $desktop - 1px) {
  .hl-header {
    &.navbar {
      background-color: transparent;
    }

    .navbar-brand a.navbar-item { 
      padding: 0;
    }

    .hl-logo {
      max-height: 40px;
      padding: 0 10px 0;
    }
    .logo-text-wrapper {
      margin-top: 0;
      font-size: .9em;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  .hl-header {
    padding: 20px;

    #navbarMenu {
      width: 320px;
      float: right;
    }
  }
}

@media screen and (max-width: $tablet - 1px) {
  .hl-header {
    padding: 10px;
  }
}