@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-partnerships {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;

  h3 {
    font-size: 30px;
    margin: 0;
    font-weight: 100;
    color: #656565;
  }

  .hl-partner {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 10px;
    color: #777;
    text-align: left;
    box-sizing: border-box;
    font-size: 14px;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }
}
