@import 'bulma/sass/utilities/_all.sass';
@import '../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-page-about-us {
  height: auto;
  overflow: hidden;
  padding-top: 136px;
}

@media screen and (min-width: $desktop) {

}