@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-page-products {
  height: auto;
  overflow: hidden;
  padding-top: 136px;
  min-height: 500px;
     
  .gray-wrapper {
    background-color: #F5F5F5;
    border-top: solid 1px #e4e4e4;
    padding: 40px 0;
  }

  .page-title {
    text-align: center;
    padding: 25px 0;
    
    .wrapper {
      text-align: left;
      display: inline-block;
      color: #737373;
    }

    h1 {
      font-family: $font-main;
      font-weight: lighter;
      font-size: 14px;
      line-height: 14px;
      padding: 0;
      margin: 0;
    }

    h2 {
      font-family: $font-secondary;
      font-weight: 300;
      font-size: 31px;
      line-height: 32px;
      letter-spacing: -1px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }
  }

 .left {
     width: 240px;
     float: left;
 }
 
 .right {
     float: none;
     width: auto;
     overflow: hidden;
 }
}

@media screen and (min-width: $desktop) {

}


// HEADER OVERRIDES FOR THIS PAGE
.hl-header .hl-logo {
  max-height: 60px;
}

.hl-header .logo-text-wrapper {
  margin-top: -6px;
}