@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-home-ambience {
  margin-bottom: 40px;

  .hl-action {
    text-align: center;
  }

  .hl-button {
    padding: 8px 40px;
    border: 1px solid $light-gray;
    color: $gray;
    display: inline-block;
  }

  .hl-ambience-image {
    height: 270px;
    background-size: cover;
    background-color: $background-gray;
    background-position: center;
    transition: all .4s ease-in-out;
  }
}

@media screen and (max-width: $tablet - 1px) {

}

@media screen and (max-width: $tablet - 1px) {

}

@media screen and (min-width: $desktop) {
  .hl-home-ambience {
    .column {
      flex: initial;
    }
  }
}
