@import 'bulma/sass/utilities/_all.sass';
@import '../../common/variables.scss';

@import 'bulma/sass/layout/section.sass';

.hl-page-ambiences {
  height: auto;
  overflow: hidden;
  padding-top: 136px;
}

@media screen and (min-width: $desktop) {

}


// HEADER OVERRIDES FOR THIS PAGE
.hl-header .hl-logo {
  max-height: 60px;
}

.hl-header .logo-text-wrapper {
  margin-top: -6px;
}